.split-layout {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.split-left {
  width: 60%;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  border-right: 1px solid var(--border-color);
}

.split-right {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-background);
}
